@font-face {
  font-family: "Manrope";
  src: url("@/assets/fonts/Manrope.woff2") format("woff2"),
       url("@/assets/fonts/Manrope.ttf") format("ttf");
}

*, *::after, *::before {
  box-sizing: border-box;
}

/* html bg in App.vue */

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif, -apple-system;
  font-size: 18px;
  overflow-x: hidden;
}

.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}