@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope.woff2") format("woff2");
}

*, *::after, *::before {
  box-sizing: border-box;
}

/* html bg in App.vue */

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif, -apple-system;
  font-size: 18px;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}