// text
$main: #FFFFFF;
$main-hover: #9DBAEE;
$secondary: #B5B5B5;
$black: #2D2D2D;

// idk lol
$red: #FF6969;
$grey: #7E7E7E;

// btns
$primary-btn: #E00087;
$primary-btn-hover: #CD0079;

// bg
$main-bg: #1B1B1B;
$bg-blue: #344F7F;
$bg10: #101010;
$bg15: #151515;
$bg26: #262626;
$bg33: #333333;
$bg48: #484848;
$bg59: #595959;
$tile-bright: #3C5B90;
$tile-mid: #344F7F;
$tile-dark: #2F4771;

// n - notification
$n-success: #79CF92;
$n-info: #81B8D7;
$n-warn: #E9DB61;
$n-error: #D26F6F;


// z-idx
$zindex-dropdown: 1;
$zindex-fixed: 2;
$zindex-modal: 3;
$zindex-notification: 4;
$zindex-ontop: 10; // if you need element on top of whole app